@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

:root {
    --btn-primary: #4f11d4;
    --btn-secondary: hsl(279, 85%, 45%);
    --wrapper: rgba(255, 255, 255, 0.153);
    --num-bgclr: hsla(0, 0%, 100%, 0.411);
    --num-clr: hsl(259, 85%, 45%);
}

.dark-theme-wrapper {
    --wrapper: rgba(0, 0, 0, 0.639);
}

.dark-theme-num {
    --num-bgclr: hsla(0, 0%, 100%, 0.201);
    --num-clr: hsl(0, 0%, 100%);
}

* {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--btn-primary);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("calc-back.png");
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    height: 32rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 6rem repeat(6, 1fr);
    gap: 0.5rem 0.3rem;
    justify-content: left;
    align-content: left;
    padding: 0.5rem;
    
    /*glassmorphism*/
    background-color: var(--wrapper);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(0.6em);
    -webkit-backdrop-filter: blur(0.6em);
    border-radius: 1rem;
    transition: background 1s;
}

.big-screen,
.small-screen {
    cursor: default;
    grid-area: 2/1/3/5;
    background-color: transparent;
    font-size: 2.8rem;
    font-weight: 1000;
    color:rgba(255, 255, 255, 0.884);
    text-align: right;
    border: none;
}

.small-screen {
    grid-area: 1/1/2/5;
    font-size: 2rem;
    padding: 0;
    color:rgba(255, 255, 255, 0.637);
    width: 85%;
    justify-self: right;
}

.equalto {
    grid-area: 7/4/9/5;
    font-weight: 700;
}

.AC {
    grid-area: 3/1/5/2;
}

button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: var(--num-bgclr);
    border-radius: 3rem;
    border: 0;
    font-size: 1.3rem;
    color:var(--num-clr);
    transition: all 1s;
}

.AC,
.equalto {
    background-color: var(--btn-primary);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.Purple {
    background-color: var(--btn-secondary);
    color: white;
}

.equalto,
.Purple {
    font-size: 1.8rem;
}

button::before {
    pointer-events: none;
    position: absolute;
    content: "";
    top:0;
    left:-1.5rem;
    bottom: 0;
    right: 0;
    width: 0;
    transform: skewX(30deg);
    transition: width 0.2s ease-in;
    transform-origin: left;
    background-color: var(--btn-secondary);
    z-index: -1;
}

.AC::before,
.equalto::before {
    background-color: #e01fd0;
}

.Purple::before {
    background-color: var(--btn-primary);
}

button:hover::before,
button:focus::before {
    width: 161%; 
}

button:hover,
button:focus {
    color: white;
}

button:active {
    transform: scale(1.18);
}

.theme {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
}

.theme:hover, 
.theme:active {
    animation: rotation 1s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}